<div class="container">
	<div class="center hero-unit">
	  <h1>Dealing with bullies, haters, & passive aggressive people is easy when you know how</h1>

	  <h2>
	    Learn to acknowlege them, strip them of their power and dismiss them in less than 3 seconds with the defuser technique
	  </h2>

	  <%= link_to "Sign up now!", '# ', class: "btn btn-large btn-primary" %>
	</div>
</div>
